<main>
    <div class="display-4 text-center mb-5">{{name}}</div>
    <div class="row">
        <div class="col-12">
            {{#each users}}
            <div>
                <hr>
            </div>
            <h2>User</h2>
            <div class="card mb-5">
                <div class="card-body text-bg-dark">
                    <span>{{id}}</span>
                    <div>{{name}}</div>
                    <span>{{gender}}</span>
                    <div>{{age}}</div>
                </div>
            </div>
            {{#each friends}}
            <h2>Friend:</h2>
            <div class="card mb-5">
                <div class="card-body text-end">
                    <span class="text-bg-primary">{{id}}</span>
                    <div class="text-bg-light">{{name}}</div>
                    <span class="text-bg-dark">{{gender}}</span>
                    <div class="text-bg-light">{{age}}</div>
                </div>
            </div>
            <div>
            </div>
            <h2>Mutual Friends:</h2>
            {{#each mutual_friends}}
            <div class="card mb-5">
                <div class="card-body text-bg-light">
                    <span>{{id}}</span>
                    <div>{{name}}</div>
                    <span>{{gender}}</span>
                    <div>{{age}}</div>
                </div>
            </div>
            <div>
                {{#each mutual_friends}}
                <div class="card mb-5">
                    <div class="card-body text-bg-light">
                        <span>{{id}}</span>
                        <div>{{name}}</div>
                        <span>{{gender}}</span>
                        <div>{{age}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
            {{#each groups}}
            <div class="col-12">
                <hr>
            </div>
            <h2>Group</h2>
            <div class="card mb-5">
                <div class="card-body">
                    <span class="text-bg-light">{{id}}</span>
                    <div class="text-bg-success">{{name}}</div>
                    <span class="text-bg-warning">{{description}}</span>
                </div>
            </div>
            <div>
                <h2>Group Members:</h2>
                {{#each members}}
                <div class="card mb-5">
                    <div class="card-body">
                        <span class="text-bg-dark">{{id}}</span>
                        <div class="text-bg-primary">{{name}}</div>
                        <span class="text-bg-secondary">{{gender}}</span>
                        <div class="text-bg-success">{{age}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
            {{/each}}
            <div>
                {{#each groups}}
                <div>
                    <hr>
                </div>
                <h2>Group:</h2>
                <div class="card mb-5">
                    <div class="card-body">
                        <span class="text-bg-light">{{id}}</span>
                        <div class="text-bg-success">{{name}}</div>
                        <span class="text-bg-warning">{{description}}</span>
                    </div>
                </div>
                <div>
                    <h2>Group Members:</h2>
                    {{#each members}}
                    <div class="card mb-5">
                        <div class="card-body">
                            <span class="text-bg-dark">{{id}}</span>
                            <div class="text-bg-primary">{{name}}</div>
                            <span class="text-bg-secondary">{{gender}}</span>
                            <div class="text-bg-success">{{age}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</main>