<div>
    {{#with person}}
    <div>
        <h1>{{name}}</h1>
    </div>
    <p><strong>Age:{{age}}</strong></p>
    <p><strong>Sex:{{gender}}</strong></p>

    {{#with address}}
    <div>
        {{country}},{{zip}},{{state}}
        <br>
        {{city}},{{street}}
    </div>
    {{/with}}
</div>

<div>
    <h2>Education</h2>
    <ul>
        {{#each education}}
        <li>
            <b>{{university}}</b> ({{graduationYear}})
            <br>
            <ul>
                <li>
                    {{degree}}
                </li>
                <li>
                    {{major}}
                </li>
            </ul>
        </li>
        {{/each}}
    </ul>

    <br>
    <hr>
    <br>

    <div>
        <h3>Work Experience</h3>

                    <b>{{name}}</b>
                    <li>
                        {{position}}
                    </li>
                    <li>
                        {{department}}
                    </li>

                    <ul>
                        {{#each projects}}
                        <b>{{name}}</b>
                        <li>
                            {{description}}
                        </li>
                        <li>
                            {{status}}
                        </li>
                        <br>

        </ul>

        {{/each}}
        </ul>
        {{/each}}

    </div>
</div>
{{/with}}