<main class="p-4">
    <div class="row">
        <div class="col-12 ">
            {{#with navigation}}
            <div class="nav nav-tabs">
                {{#each links}}
                {{#if href}}
                <a href="{{href}}" class="btn btn-link">{{text}}</a>
                {{else}}
                <a href="{{href}}" class="btn btn-link disabled">{{text}}</a>
                {{/if}}
                {{/each}}
            </div>
            {{/with}}
        </div>
        <div class="col-12 pt-5">
            {{#with header}}
            <h1>{{title}}</h1>
            <div class="pt-2">
                {{#with button}}
                <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
                {{/with}}
            </div>
            <div class="pt-4">
                <hr>
            </div>
            {{/with}}
        </div>
    </div>
    <div>
        {{#each goodsBlock}}
        <div class="card mb-4">
            <div class="row">
                <div class="col-2 p-2 ps-3">
                    <div class="card-img-top">
                        <img src="{{image}}">
                    </div>
                </div>
                <div class="col-4 ps-1">
                    <div class="card-title">
                        <h4>{{name}}</h2>
                            <div>{{description}}</div>
                    </div>
                </div>
                <div class="col-2 pt-4 pb-4">
                    {{#with price}}
                    <div>{{title}}:</div>
                    <h5>{{value}}</h5>
                    {{/with}}
                </div>
                <div class="col-1 pt-5 pb-5">
                    {{amount}}
                </div>
                <div class="col-3 p-4 ps-5">
                    {{#each buttons}}
                    <div class="mb-2">
                        {{#if isPrimary}}
                        <button class="btn btn-primary">{{text}}</button>
                        {{/if}}
                    </div>
                    <div>
                        {{#if isDanger}}
                        <button class="btn btn-outline-danger">{{text}}</button>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
        <div class="pt-3">
            <hr>
        </div>
    </div>
    <div class="col-12 pt-4">
        {{#with total}}
        <h3>{{title}}</h3>
        <div class=" display-6 pt-2">{{amount}}</div>
        <div class="pt-2">{{delivery}}</div>
        <div class="pt-3">
            {{#each buttons}}
            <div class="mb-3">
                {{#if isSuccess}}
                <a href="{{link}}" class="btn btn-success">{{text}}</a>
                {{/if}}
            </div>
            <div>
                {{#if isOutline}}
                <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/with}}
        <div class="pt-3">
            <hr>
        </div>
    </div>
    <div class="pt-4 text-center">
        {{#with goodsOtherBlock}}
        <h3>{{title}}</h3>
        {{/with}}
    </div>
    <div class="row pt-3">
        {{#each goodsOtherBlock.cards}}
        <div class="col-4">
            <div class="card">
                <div class="card-img-top ps-2">
                    <img src="{{image}}">
                </div>
                <div class="card-title ps-3 pt-2">
                    <h4>{{title}}
                        {{#if isHot}}
                        <span class="badge text-bg-warning">HOT!</span>
                        {{/if}}
                        {{#if idNew}}
                        <span class="badge text-bg-success">{{idNew}}</span>
                        {{/if}}
                    </h4>
                </div>
                <div class="card-body">
                    <div>{{description}}</div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="pt-3">
            <hr>
        </div>
        <div class="col-12 pt-4">
            <div class="card">
                {{#with subscribe}}
                <div class="card-body">
                    <h2>{{header}}
                        <i class="fa-solid fa-unlock"></i>
                    </h2>
                    <p class="pt-3 pb-3">{{description}}</p>
                    {{#each buttons}}
                    <div class="mb-2">
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
        <div class="pt-3">
            <hr>
        </div>
        <footer class="col-12">
            <div class="row">
                {{#each footer}}
                <ul class="col-2">
                    {{#each this}}
                    <li class="list-group-item">
                        <a href="{{link}}">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>
                {{/each}}
            </div>
        </footer>
    </div>
</main>