<main>
    {{#with web}}
    <div>
        {{#each languages}}
        <ul class="mt-2 text-center">
            <h1 class="display-3">{{name}}</h1>
            <div>{{version}}</div>
            <p>({{description}})</p>
        </ul>
        <div class="card text-bg-dark mb-5">
            <div class="card-body">
                {{#each elements}}
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <div>
                            <ul class="text-center">
                                <h2>({{name}})</h2>
                                <em>{{description}}</em>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <ul>
                            {{#each attributes}}
                            <li>
                                <strong>{{name}}</strong>
                            </li>
                            <em>{{description}}</em>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/each}}
                <div>
                    {{#each properties}}
                    <div>
                        <ul class="text-center">
                            <h3>({{name}})</h3>
                            <em>{{description}}</em>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            {{#each values}}
                            <li>
                                <strong>{{value}}</strong>
                            </li>
                            <em>{{description}}</em>
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>

                <div>
                    {{#each functions}}
                    <div class="text-center">
                        <h3>{{name}}</h3>
                        <em>{{descriprion}}</em>
                    </div>
                    {{#each parameters}}
                    <ul>
                        <h4>{{name}}</h4>
                        <li>
                            {{type}}
                        </li>
                        <em>({{description}})</em>
                    </ul>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
</main>