{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            <div class="text-center">
                {{> title data="Work history"big=true}}
            </div>
            <div>
                {{#each works}}

                <div class="card">
                    <div class="card-body">
                        <div class="display-6">{{position}}</div>

                        <div>{{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (working now)
                            {{/if}}
                        </div>

                        <div>
                            {{#if company.url}}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div>
                            <strong>Projects ({{projectAmount}})</strong>
                        </div>
                        <ul>
                            {{#each projects}}
                            <li>
                                {{> link text=name href=url blank=true noLine=true}}
                                <div>
                                    <p>({{about}})</p>
                                </div>
                                <em><strong>Project stacks</strong></em>
                                ({{stackAmount}})
                                <ul>
                                    {{#each stacks}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                                <em><strong>Project awards</strong></em>
                                <ul>
                                    {{#each awards}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}